/node_modules
/vendor
.env
.env.backup
.env.production
.git
.github
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
storage/*.key
/public/storage
/public/build
/public/hot
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/logs/*.log
